# NPM Configuration
# https://docs.npmjs.com/cli/v7/configuring-npm/npmrc
# https://docs.npmjs.com/cli/v7/using-npm/config#userconfig
# https://marketplace.cursorapi.com/items/?itemName=YuTengjing.package-manager-enhancer
prefix=${HOME}/.local/share/npm
cache=${HOME}/.cache/npm
