schemaVersion: 2.0.0

commandTests:
  - name: Bash is present
    command: which
    args: [bash]
    expectedOutput: [/bin/bash]
  - name: Git is present
    command: which
    args: [git]
    expectedOutput: [/usr/bin/git]
  - name: Curl is present
    command: which
    args: [curl]
    expectedOutput: [/usr/bin/curl]

metadataTest:
  envVars:
    - key: CLICOLOR
      value: 1
    - key: COLORTERM
      value: truecolor
    - key: TERM
      value: xterm-256color
    - key: SAVEHIST
      value: 1000000000
    - key: HISTSIZE
      value: 1000000000
    - key: DIRSTACKSIZE
      value: 100

fileExistenceTests:
  - name: ~/.bashrc
    path: $HOME/.bashrc
    shouldExist: true
    permissions: Lrwxrwxrwx
    gid: 999
  - name: ~/.bash_aliases
    path: $HOME/.bash_aliases
    shouldExist: true
    permissions: Lrwxrwxrwx
    gid: 999
  - name: ~/.zshenv
    path: $HOME/.zshenv
    shouldExist: true
    permissions: Lrwxrwxrwx
    gid: 999
  - name: ~/.profile
    path: $HOME/.profile
    shouldExist: true
    permissions: Lrwxrwxrwx
    gid: 999
  - name: ~/.github
    path: $HOME/.github
    shouldExist: true
    permissions: drwxr-xr-x
    gid: 999
  - name: ~/.config
    path: $HOME/.config
    shouldExist: true
    permissions: drwxr-xr-x
    gid: 999    
  - name: ~/.config/.dockerignore
    path: $HOME/.config/.dockerignore
    shouldExist: true
    permissions: -rw-r--r--
    gid: 999
  - name: ~/.config/Dockerfile
    path: $HOME/.config/Dockerfile
    shouldExist: true
    permissions: -rw-r--r--
    gid: 999
  - name: ~/.config/docker-compose.yml
    path: $HOME/.config/docker-compose.yml
    shouldExist: true
    permissions: -rw-r--r--
    gid: 999
  - name: ~/.config/bin/setup
    path: $HOME/.config/bin/setup
    shouldExist: true
    permissions: -rwxr-xr-x
    gid: 999    
  - name: ~/.config/.editorconfig
    path: $HOME/.config/.editorconfig
    shouldExist: true
    permissions: -rw-r--r--
    gid: 999
  - name: ~/.config/.hadolint.yml
    path: $HOME/.config/.hadolint.yml
    shouldExist: true
    permissions: -rw-r--r--
    gid: 999
  - name: ~/.config/.releaserc.yml
    path: $HOME/.config/.releaserc.yml
    shouldExist: true
    permissions: -rw-r--r--
    gid: 999
  - name: ~/.config/zsh
    path: $HOME/.config/zsh
    shouldExist: true
    permissions: drwxr-xr-x
    gid: 999
  - name: ~/.config/zsh/.zprofile
    path: $HOME/.config/zsh/.zprofile
    shouldExist: true
    permissions: -rw-r--r--
    gid: 999
  - name: ~/.config/zsh/.zshrc
    path: $HOME/.config/zsh/.zshrc
    shouldExist: true
    permissions: -rw-r--r--
    gid: 999
