schemaVersion: 2.0.0

commandTests:
  - name: Bash is present
    command: which
    args: [bash]
    expectedOutput: [/bin/bash]
  - name: Git is present
    command: which
    args: [git]
    expectedOutput: [/usr/bin/git]
  - name: Curl is present
    command: which
    args: [curl]
    expectedOutput: [/usr/bin/curl]

metadataTest:
  envVars:
    - key: CLICOLOR
      value: 1
    - key: COLORTERM
      value: truecolor
    - key: TERM
      value: xterm-256color

fileExistenceTests:
  - name: ~/.bashrc
    path: $HOME/.bashrc
    shouldExist: true
    permissions: Lrwxrwxrwx
    gid: 10
  - name: ~/.bash_aliases
    path: $HOME/.bash_aliases
    shouldExist: true
    permissions: Lrwxrwxrwx
    gid: 10
  - name: ~/.zshenv
    path: $HOME/.zshenv
    shouldExist: true
    permissions: Lrwxrwxrwx
    gid: 10
  - name: ~/.profile
    path: $HOME/.profile
    shouldExist: true
    permissions: Lrwxrwxrwx
    gid: 10
  - name: ~/.github
    path: $HOME/.github
    shouldExist: true
    permissions: dgrwxr-xr-x
    gid: 10
  - name: ~/.config
    path: $HOME/.config
    shouldExist: true
    permissions: dgrwxr-xr-x
    gid: 10
  - name: ~/.config/.login
    path: $HOME/.config/.login
    shouldExist: true
    permissions: -rwxr-xr-x
    gid: 10        
  - name: ~/.config/script
    path: $HOME/.config/script
    shouldExist: true
    permissions: dgrwxr-xr-x
    gid: 10
  - name: ~/.config/script/.dockerignore
    path: $HOME/.config/script/.dockerignore
    shouldExist: true
    permissions: -rw-r--r--
    gid: 10
  - name: ~/.config/script/Dockerfile
    path: $HOME/.config/script/Dockerfile
    shouldExist: true
    permissions: -rw-r--r--
    gid: 10
  - name: ~/.config/script/docker-compose.yml
    path: $HOME/.config/script/docker-compose.yml
    shouldExist: true
    permissions: -rw-r--r--
    gid: 10
  - name: ~/.config/script/.hadolint.yml
    path: $HOME/.config/script/.hadolint.yml
    shouldExist: true
    permissions: -rw-r--r--
    gid: 10    
  - name: ~/.config/bin/setup
    path: $HOME/.config/bin/setup
    shouldExist: true
    permissions: -rwxr-xr-x
    gid: 10    
  - name: ~/.config/.editorconfig
    path: $HOME/.config/.editorconfig
    shouldExist: true
    permissions: -rw-r--r--
    gid: 10
  - name: ~/.config/.releaserc.yml
    path: $HOME/.config/.releaserc.yml
    shouldExist: true
    permissions: -rw-r--r--
    gid: 10
  - name: ~/.config/zsh
    path: $HOME/.config/zsh
    shouldExist: true
    permissions: dgrwxr-xr-x

    gid: 10
  - name: ~/.config/zsh/.zprofile
    path: $HOME/.config/zsh/.zprofile
    shouldExist: true
    permissions: -rw-r--r--
    gid: 10
  - name: ~/.config/zsh/.zshrc
    path: $HOME/.config/zsh/.zshrc
    shouldExist: true
    permissions: -rw-r--r--
    gid: 10
