[submodule ".config/cheat/cheatsheets/community"]
	path = .config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:roalcantara/nvim.git
