.cursor
.devcontainer
.dockerignore
.DS_Store
.env
.env-example
.git
.gitattributes
.github
.gitignore
.logs
.secrets
.tmp
.venv
.vscode
**/*.log
**/*.secret
**/*.tmp
**/__pycache__
**/.pytest_cache
**/*.pyc
chromium
dist
Dockerfile
LICENSE
node_modules
tmp
