# https://jorisroovers.com/gitlint/dev/configuration
# All these sections are optional. Each section with the exception of [general] represents
# one rule and each key in it is an option for that specific rule.

[general]
# Mute all output
# silent=true

[title-max-length]
# Enforce a maximum line length for the commit title
line-length=72

[body-max-line-length]
# Enforce a maximum line length for the commit body
line-length=120
