schemaVersion: 2.0.0

fileExistenceTests:
  - name: ~/.bashrc
    path: $HOME/.bashrc
    shouldExist: true
    permissions: -rw-r--r--
    gid: 33333
  - name: ~/.profile
    path: $HOME/.profile
    shouldExist: true
    permissions: -rw-r--r--
    gid: 33333
