.cache
.devcontainer
.dockerignore
.editorconfig
.env
.git
.github
.gitignore
.hadolint.yaml
.pre-commit-config.yaml
.releaserc.yml
.shellcheckrc
.vscode
*.code-workspace
*.md
*/bin
*/obj
docker-compose*
Dockerfile*
LICENSE
Makefile
node_modules
npm-debug.log
vendor/
