schemaVersion: 2.0.0

fileExistenceTests:
  - name: ~/.profile
    path: '$HOME/.profile'
    shouldExist: true
    permissions: -rw-r--r--
    gid: 10
  - name: ~/.bashrc
    path: '$HOME/.bashrc'
    shouldExist: true
    permissions: -rw-r--r--
    gid: 10
  - name: ~/.bash_aliases
    path: '$HOME/.bash_aliases'
    shouldExist: true
    permissions: -rw-r--r--
    gid: 10
  - name: ~/.config
    path: '$HOME/.config'
    shouldExist: true
    permissions: dgrwxr-xr-x
    gid: 10
  - name: ~/.config/.editorconfig
    path: '$HOME/.config/.editorconfig'
    shouldExist: true
    permissions: -rw-r--r--
    gid: 10
