schemaVersion: 2.0.0

commandTests:
  - name: Bash is present
    command: which
    args: [bash]
    expectedOutput: [/bin/bash]
  - name: Git is present
    command: which
    args: [git]
    expectedOutput: [/usr/bin/git]
  - name: Curl is present
    command: which
    args: [curl]
    expectedOutput: [/usr/bin/curl]
  - name: GnuPG is present
    command: which
    args: [gpg]
    expectedOutput: [/usr/bin/gpg]

metadataTest:
  envVars:
    - key: CLICOLOR
      value: 1
    - key: COLORTERM
      value: truecolor
    - key: TERM
      value: xterm-256color
    - key: SAVEHIST
      value: 1000000000
    - key: HISTSIZE
      value: 1000000000
    - key: DIRSTACKSIZE
      value: 100

fileExistenceTests:
  - name: ~/.dots
    path: '$HOME/.dots'
    shouldExist: true
    permissions: drwxr-xr-x
    uid: 999
    gid: 999
  - name: ~/.github
    path: '$HOME/.github'
    shouldExist: true
    permissions: drwxr-xr-x
    uid: 999
    gid: 999
  - name: ~/script
    path: '$HOME/script'
    shouldExist: true
    permissions: drwxr-xr-x
    uid: 999
    gid: 999
  - name: ~/script/setup
    path: '$HOME/script/setup'
    shouldExist: true
    permissions: -rwxr-xr-x
    uid: 999
    gid: 999
  - name: ~/script/bootstrap
    path: '$HOME/script/bootstrap'
    shouldExist: true
    permissions: -rwxr-xr-x
    uid: 999
    gid: 999
  - name: ~/.profile
    path: '$HOME/.profile'
    shouldExist: true
    permissions: -rw-r--r--
    uid: 999
    gid: 999
  - name: ~/.bashrc
    path: '$HOME/.bashrc'
    shouldExist: true
    permissions: -rw-r--r--
    uid: 999
    gid: 999
  - name: ~/.bash_aliases
    path: '$HOME/.bash_aliases'
    shouldExist: true
    permissions: -rw-r--r--
    uid: 999
    gid: 999
  - name: ~/.config
    path: '$HOME/.config'
    shouldExist: true
    permissions: drwxr-xr-x
    uid: 999
    gid: 999
  - name: ~/.config/.dockerignore
    path: '$HOME/.config/.dockerignore'
    shouldExist: true
    permissions: -rw-r--r--
    uid: 999
    gid: 999
  - name: ~/.config/.editorconfig
    path: '$HOME/.config/.editorconfig'
    shouldExist: true
    permissions: -rw-r--r--
    uid: 999
    gid: 999
  - name: ~/.config/.hadolint.yml
    path: '$HOME/.config/.hadolint.yml'
    shouldExist: true
    permissions: -rw-r--r--
    uid: 999
    gid: 999
  - name: ~/.config/.releaserc.yml
    path: '$HOME/.config/.releaserc.yml'
    shouldExist: true
    permissions: -rw-r--r--
    uid: 999
    gid: 999
  - name: ~/.config/Dockerfile
    path: '$HOME/.config/Dockerfile'
    shouldExist: true
    permissions: -rw-r--r--
    uid: 999
    gid: 999
