version: "3.9"

services:
  moonc:
    container_name: nvim_moonc
    build: .
    restart: unless-stopped
    working_dir: /app/src
    command: [
      "-t",
      "/app/lua",
      "."
    ]
    stdin_open: true
    tty: true
    volumes:
      - '.:/app'
